!!!

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title Nomarebu
    %link(rel='stylesheet' type='text/css'){:href => 'index.css'}

%body
  %header
    %h1 Nomarebu

  %section
    %h1 What's Nomarebu
    %p see <a href="http://nomarebu.g.hatena.ne.jp/">http://nomarebu.g.hatena.ne.jp/</a>
